
 .header__fake {
  position: fixed;
  top: 15px;
  left: 100%;
  margin-left: -480px;
  width: 450px;
}

 .header__fake i {
  display: block;
}

 .header__fake .btm__border {
  height: 1.5px;
  background: #fff;
  position: absolute;
  bottom: 6px;
  left: 0;
  right: 0;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}

.header__content {
 position: absolute;
 top: 20px;
 right: 80px;
 width:350px;
 display: block;
 font-size: 18px;
}
.header__content .col-xs-4 {
height:40px;
padding-top: 8px;
text-align: center;
cursor: pointer;
-webkit-transition: background 0.2s ease-out, color 0.2s ease-out;
transition: background 0.2s ease-out, color 0.2s ease-out;
}
.header__content .col-xs-4:hover {
  background: #fff;
  color: #232323;
  text-decoration: none;
}

 .header__fake .icn__wrap {
  cursor: pointer;
  float: right;
  width: 58px;
  position: relative;
  height: 58px;
  margin-right: -20px;
}

 .header__fake .icn__wrap .icn__hamburger {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-6px);
  -ms-transform: translateX(-50%) translateY(-6px);
  transform: translateX(-50%) translateY(-6px);
  display: none;
  width: 18px;
  height: 1.5px;
  z-index: 999;
  background: #fff;
}

 .header__fake .icn__wrap .icn__hamburger:after,
 .header__fake .icn__wrap .icn__hamburger:before {
  content: "";
  float: left;
  display: block;
  width: 100%;
  height: 2px;
  background: #fff;
  margin: 4px 0 0;
}

 .header__fake .icn__wrap .icn__hamburger:before {
  margin: 6px 0 0;
}

 .header__fake .icn__wrap svg {
  z-index: 10;
}

 .header__fake .icn__wrap svg circle {
  fill: none;
  stroke: #fff;
  stroke-width: .5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 39 39;
  stroke-dashoffset: -39;
  -webkit-transition: stroke-dashoffset 0.5s;
  transition: stroke-dashoffset 0.5s;
}

 .header__fake.animated .btm__border {
  left: 100%;
  right: 4px;
}

 .header__fake.animated svg circle {
  stroke-dashoffset: 0;
  -webkit-transition: stroke-dashoffset 0.5s;
  transition: stroke-dashoffset 0.5s;
}

 .header__fake.fix .btm__border {
  -webkit-animation: fix 0.2s linear;
  animation: fix 0.2s linear;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  right: 5px;
}
@media only screen and (max-width: 768px) {
  .header__fake .icn__wrap svg circle {
   stroke-dashoffset: 0;
   -webkit-transition: stroke-dashoffset 0.5s;
   transition: stroke-dashoffset 0.5s;
   }
  .header__fake i {
    display: none;
  }
  .header__fake .icn__wrap .icn__hamburger {
    display: block;
  }
  .header__content {
    display: none;
  }
}
