.row {
	color: white;
}

.col {
	height: 100%
}

a:hover,
a:focus {
	color: #fff;
	text-decoration: none;
}

.li {
	color: #404041;
	text-align: center;
	padding-top: 20px;
	fill: #fff;
}

.li svg {
	max-width: 160px;
	max-height: 160px;
}

.li h2 {
	text-align: center;
}

body {
	color: #fff;
	background: #fff;
}

#main {
	opacity: 0;
}

* {
	font-family: 'Lato', sans-serif;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

h1 {
	font-size: 40px;
	line-height: 40px;
}

h2 {
	font-size: 18px;
	line-height: 18px;
}

.dev {
	background-color: #4F5D73;
	height: 500px;
	color: #fff;
}

.dev h2 {}


/* Don't show shadows when selecting text */

::-moz-selection {
	background: #5af;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: #5af;
	color: #fff;
	text-shadow: none;
}

.button {
	display: inline-block;
	width: 100px;
	height: 33px;
	cursor: pointer;
	font-size: 12px;
	font-weight: bold;
	line-height: 29px;
	text-decoration: none;
	text-align: center;
	color: #fff;
	border: 2px solid #fff;
	-webkit-transition: background 0.2s ease-out, color 0.2s ease-out;
	transition: background 0.2s ease-out, color 0.2s ease-out;
}

.filter {
	background: transparent url(../video/raster.png) top left repeat;
	position: absolute;
	z-index: -1;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	overflow: hidden;
}

.button:hover {
	background: #fff;
	color: #232323;
	text-decoration: none;
}

.video-container {
	position: absolute;
	z-index: -1;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	overflow: hidden;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	background-image: url(http://puu.sh/i1BBy/28c25eb0a3.jpg);
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.center-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	overflow: auto;
}

.center-container::after,
.center-block {
	display: inline-block;
	vertical-align: middle;
}

.center-container:after {
	content: '';
	height: 100%;
	margin-left: -0.25em;
	/* To offset spacing. May vary by font */
}

.center-block {
	max-width: 98%;
	/* Prevents issues with long content causes the content block to be pushed to the top */
	/* max-width: calc(100% - 0.25em) /* Only for IE9+ */
}

.main-font {
	text-align: center;
}

.main-font h2 {
	margin-top: 20px;
	margin-bottom: 30px;
	font-size: 30px;
	line-height: 30px;
}

.icon {
	height: 128px;
	width: 128px;
	margin: 0 auto;
}

.advantages {
	background-color: #ecf0f1;
	padding-bottom: 100px;
	color: #404041;
	box-shadow: inset 0 20px 17px -20px #000, inset 0px -20px 17px -20px #000;
}
.advantages > div {
	max-width: 1200px;
	margin: 0 auto;
	text-align: center;
	list-style: none;
}
.contacts {
	background-color: #009871;
	height: 500px;
	box-shadow: inset 0 20px 17px -20px #000;
}

@media screen and (max-width: 768px) {
	video {
		display: none;
		height: 0 !important;
	}
}

@media only screen and (min-width: 768px) {
	/* Style adjustments for viewports that meet the condition */
	.main-font h2 {
		margin-top: 50px;
		margin-bottom: 50px;
		font-size: 45px;
		line-height: 45px;
	}
	h1 {
		font-size: 70px;
		line-height: 80px;
	}
	h2 {
		font-size: 20px;
		line-height: 20px;
	}
	.button {
		width: 150px;
		height: 50px;
		font-size: 18px;
		line-height: 46px;
	}
	.video-container {
		background-image: url(http://puu.sh/i1ANL/c1ba056ff2.jpg);
	}
}
